*,body, html
{
	margin: 0;
	padding: 0;
	outline: none;
}

body,html
{
	position: relative;
	display: block;
	width: 100%;
	min-height: 100%;
	font-family: RobotoLight, sans-serif;
	background: #f5f5f5;
}

#overlay
{
	min-height: calc(100vh - 443px);
}

div#content
{
	display: block;
	position: relative;
	width: 100%;
	min-height: 100%;
	padding-top: 50px;

	z-index: 1;
}

nav {
	z-index: 2;
}

h1,
h2,
h3,
h4 {
	font-family: RobotoRegular, sans-serif;
	margin: 0;
	padding: 0;
	line-height: inherit;
	font-weight: inherit;
	//font-size: 18px;
	color: #0c1b23;
	padding: 5px 0;
}

h1.blocked,
h2.blocked,
h3.blocked,
h4.blocked {
	display: inline-block;
	margin-right: 20px;
}

h1.blocked {
	font-size: 16px;
}

h4.blocked {
	font-family: RobotoLight, sans-serif;
	font-size: 14px;
}

h4.blocked a {
	color: #888;
}

a {
	color: #2988B9;
}

a:hover {
	color: #2E6A8A;
}

p {
	margin-bottom: 5px;
}

/* слегка доработанный, универсальный clearfix хак */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix { display: inline-block; }


* html .clearfix { height: 1%; }

.clearfix { display: block; }

.border-1 {
	border-radius: 2px;
	border: 1px solid;
}

.border-gray {
	border-color: rgba(0, 0, 0, .1);
}

.pt-10 {
	padding-top: 10px !important;
}

.pt-20 {
	padding-top: 20px !important;
}

.pb-10 {
	padding-bottom: 10px !important;
}

.pb-20 {
	padding-bottom: 20px !important;
}

.pl-0 {
	padding-left: 0 !important;
}

.pr-0 {
	padding-right: 0 !important;
}

.pl-5 {
	padding-left: 5px !important;
}

.pr-5 {
	padding-right: 5px !important;
}

.pl-10 {
	padding-left: 10px !important;
}

.pr-10 {
	padding-right: 10px !important;
}

.pl-20 {
	padding-left: 20px !important;
}

.pr-20 {
	padding-right: 20px !important;
}

.pl-25 {
	padding-left: 25px !important;
}

.pr-25 {
	padding-right: 25px !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mt-5 {
	margin-top: 5px !important;
}

.mb-5 {
	margin-bottom: 5px !important;
}

.mt-10 {
	margin-top: 10px !important;
}

.mb-10 {
	margin-bottom: 10px !important;
}

.mt-20 {
	margin-top: 20px !important;
}

.mb-20 {
	margin-bottom: 20px !important;
}

.ml-0 {
	margin-left: 0 !important;
}

.mr-0 {
	margin-right: 0 !important;
}

.ml-5 {
	margin-left: 5px !important;
}

.mr-5 {
	margin-right: 5px !important;
}

.ml-10 {
	margin-left: 10px !important;
}

.mr-10 {
	margin-right: 10px !important;
}

.ml-20 {
	margin-left: 20px !important;
}

.mr-20 {
	margin-right: 20px !important;
}

.m-0 {
	margin: 0px !important;
}

.ta-r {
	text-align: right !important;
}

.dropdown-menu>li>span {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
	cursor: pointer;
}

.dropdown-menu>li>span:focus, .dropdown-menu>li>span:hover {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}

.table-hover>tbody>tr:hover,.table>tbody>tr.active {
  background-color: #EEEEEE;
}

.dropdown-menu span.glyphicon {
	vertical-align: middle;
	top: auto;
	margin-right: 10px;
	opacity: .8;
}

li.sound .glyphicon{
	color: #fff;
	font-size: 25px;
	display: block;
	opacity: .7;
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	line-height: 40px;
	left: 20px;
}

li.sound:hover .glyphicon {
	opacity: 1;
}

li.sound .glyphicon.off{
	display: none;
}
@media screen and (max-width:767px)
{
	.mb-sm-0 {
		margin-bottom: 0 !important;
	}
	.mb-sm-10 {
		margin-bottom: 10px !important;
	}
	.pl-sm-0 {
		padding-left: 0 !important;
	}
}

.spoiler {
	margin: 10px 0;
}

.spoiler .spoiler-title{
	background: #fff;
	padding: 2px 8px;
	vertical-align: middle;
	border-radius: 4px;
	border: 1px solid #aaa;
	cursor: pointer;
}

.spoiler .spoiler-title:hover{
	box-shadow: 0 0 1px rgba(0,0,0,.3);
}

.spoiler .spoiler-body{
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	background: #eee;
	height: auto;
	display: none;
	overflow: hidden;
	border: 1px solid #ddd;
	margin-top: 2px;
}

.spoiler.open>.spoiler-body{
	display: block;
}

.badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px 5px;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	line-height: 1;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	background-color: #999;
	border-radius: 10px;
	margin: 0 2px;
	cursor: pointer;
	opacity: .8;
}

.badge:hover {
	opacity: 1;
}

.badge.danger,.order-new-row,.order-new-row:hover {
	background-color: #EF5350 !important;
}

.badge.warning,.order-progress-row,.order-progress-row:hover {
	background-color: #FFA726 !important;
}

.badge.success,.order-done-row,.order-done-row:hover {
	background-color: #66BB6A !important;
}

.badge.fail,.order-fail-row,.order-fail-row:hover {
	background-color: #546E7A !important;
}

.badge.info {
	background-color: #2196F3;
}

td.order-fail-row,td.order-done-row,td.order-progress-row,td.order-new-row {
	color: #fff;
}

.order-header{
	cursor: pointer;
}

.order-body{
	height: 0;
	overflow: hidden;
	transition: height .3s ease-in-out;
}

.order-body>td {
	display: none;
}

.order-body.on{
	height: auto;
}

.order-body.on>td {
	display: table-cell;
	border-top: 0;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .2);
}

.order-details-table tr {
	height: 26px;
	line-height: 26px;
}

.order-details-table tr th {
	padding-right: 10px;
}

.order-prods-table {
	position: relative;
	width: 100%;
}

.order-prods-table th, .order-prods-table td{
	padding: 2px 4px;
	word-wrap: break-word;
	vertical-align: top;
}

.order-prods-table td.prod-name-cell {
	max-width: 230px;
}