.counts-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 20px;
}

.one-item-price .prod-price{
	visibility: visible;
	font-weight: normal;
	font-size: 12px;
	opacity: .5;
	text-transform: none;
}

.sum-item-price {
  display: inline-block;
  position: relative;
  float: right;
  font-size: 18px;
  text-align: right;
}

.btn.btn-primary.order-btn {
	background: #c63838;
	border: 0;
	line-height: 20px !important;
	will-change: background;
	margin: 0;
	height: 30px;
	font-size: 13px;
	font-weight: 900;
	width: 160px;
}

.btn.btn-primary.order-btn:hover {
	background: #d63c3c;
}

.btn.btn-primary.order-btn:active {
	background: #a22727;
	border: 0;
	margin: 0 !important;
}