.sale-card {
	min-height: 280px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

@media screen and (min-width: 320px) and (max-width: 479px) {

	.sale-card {
		min-height: 150px;
	}

}