@import "/css/bootstrap/bootstrap.min.css";

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:400,700&subset=cyrillic');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* PRIMARY */

html, body {
	position: relative;
	display: block;
	min-height: 100%;
	font-size: 14px;
}

body {
	color: #222;
	background-color: #fff;
	background: url(/img/bg-pattern.png) left top repeat;
	font-family: Roboto, sans-serif;
}

/* HEAD LINE */

.headline {
	position: relative;
	width: 100%;
}

.headline .logo {
	position: relative;
	width: 60px;
	height: 40px;
	background: url(/img/logo.svg) left center no-repeat;
	background-size: contain;
	float: left;
}

.logo>a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.headline .logo-sitename {
	position: relative;
	display: block;
	font-family: Roboto Slab;
	font-size: 17px;
	line-height: 20px;
	float: left;
	padding-left: 15px;
	opacity: .9;
}

.logo-sitename a {
	color: inherit;
	text-decoration: inherit;
}

.head-phone {
	position: relative;
	width: auto;
	/* float: right; */
	color: #14767f;
	font-weight: 600;
	margin: 0 auto;
}

.head-phone .phone-label {
	display: block;
	font-size: 11px;
}

.head-phone .phone-number {
	display: block;
	font-size: 18px;
}

/* BUTTONS */


button {
	position: relative;
	height: 38px;
	border-radius: 2px;
	border: 0;
	border-bottom: 1px solid #444;
	display: inline-block;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	padding: 6px 10px;
	cursor: pointer;
	vertical-align: middle;
	color: #fff;
	text-align: left;
	outline: none;
}

button:active {
	margin-top: 1px !important;
	border-bottom: 0;
}

button.btn-wide {
	width: 160px;
	margin: 0 12px;
	padding-left: 40px;
}

button.btn-mini {
	width: 130px;
	margin: 0 0 0 12px;
}

button.call-me, button.login, button.cart {
	float: right;
}

button.call-me {
	background: #14767f url(/img/phone.svg) 14px center no-repeat;
	background-size: 14px 20px;
	line-height: 11px;
}

button.login {
	background: #ff9912 url(/img/user.svg) 14px center no-repeat;
	background-size: 16px 20px;
	line-height: 24px;
}

button.cart {
	background: #c63838 url(/img/cart.svg) 14px center no-repeat;
	background-size: 20px;
	font-size: 12px;
	line-height: 24px;
}

button.cart .counter {
	position: absolute;
	top: 8px;
	left: 20px;
	width: 12px;
	text-align: center;
	font-size: 10px;
	line-height: 10px;
}

button.cart .price-counter {
	display: block;
	margin-left: 30px;
	text-align: center;
}

/* NAVIGATION */

nav {
	background: rgb(250,250,250);
	background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 50%, rgba(239,239,239,1) 100%);
	background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(255,255,255,1) 50%,rgba(239,239,239,1) 100%);
	background: linear-gradient(to bottom, rgba(250,250,250,1) 0%,rgba(255,255,255,1) 50%,rgba(239,239,239,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 );
	position: relative;
	width: 100%;
	height: 50px;
	line-height: 50px;
	z-index: 10;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.main_menu ul, .main_menu ul li {
	display: inline-block;
}


.main_menu ul.menu_text_units{
	width: 100%;
	height: 50px;
	overflow: hidden;
}

.main_menu ul.menu_text_units li,.main_menu ul.menu_text_units li.show-li,.main_menu ul.menu_text_units li.show-li-else {
	display: inline-block;
}

.main_menu ul.menu_text_units li.hide-li,.main_menu ul.menu_text_units li.hide-li-else {
	display: none;
}

.main_menu ul.menu_text_units li.search-item {
	float: right;
	display: block;
	position: relative;
	will-change: width;
	transition: width .2s ease-in-out;
}

.main_menu ul.menu_text_units li.search-item input.search-text{
	width: calc(100% - 80px);
	margin-left: 10px;
	height: 30px;
	display: inline-block;
	border-radius: 2px;
	border: 1px solid rgba(182, 182, 182, .5);
	box-shadow: inset 1px 1px 4px rgba(0,0,0,.1);
	padding: 0 10px;
}

.main_menu input.search-text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 13px;
	color: #222;
	font-weight: 200;
	opacity: .2;
}
.main_menu input.search-text::-moz-placeholder { /* Firefox 19+ */
	font-size: 13px;
	color: #222;
	font-weight: 200;
	opacity: .2;
}
.main_menu input.search-text:-ms-input-placeholder { /* IE 10+ */
	font-size: 13px;
	color: #222;
	font-weight: 200;
	opacity: .2;
}
.main_menu input.search-text:-moz-placeholder { /* Firefox 18- */
	font-size: 13px;
	color: #222;
	font-weight: 200;
	opacity: .2;
}

.main_menu ul.menu_text_units li.search-item button.btn-search {
	width: 50px;
	position: relative;
	display: block;
	float: right;
	height: 30px;
	background: url(/img/search.svg) center center no-repeat;
	background-size: 18px;
	border: 0;
	padding: 0;
	margin: 10px;
	opacity: .4;
	will-change: opacity;
	transition: opacity .1s ease-in-out;
}

.main_menu ul.menu_text_units li.search-item button.btn-search:active {
	margin: 10px !important;
	border: 0;
	opacity: .7;
}

.main_menu ul.menu_ui_units li a {
	opacity: .2;
}

.main_menu ul.menu_ui_units li a.active {
	opacity: 1;
}


.main_menu ul.menu_text_units li a{
	color: #222;
	font-weight: 200;
	text-decoration: none;
	display: block;
	position: relative;
	line-height: 50px;
	font-size: 16px;
	padding: 0 20px;
	border-right: 1px solid rgba(0, 0, 0, .1);
}

.main_menu ul.menu_text_units li a.arrow {
	padding-right: 50px;
}

.main_menu ul.menu_text_units li a.arrow::after {
	content: '';
	display: block;
	position: absolute;
	width: 9px;
	height: 9px;
	border-bottom: 1px solid #222;
	border-left: 1px solid #222;
	top: 19px;
	right: 20px;
	will-change: transform, top;
	transition: transform .3s ease-in-out, top .3s ease-in-out;
	transform: rotate(-45deg) rotate3d(90,90,0,0deg);
	opacity: .7;
}

.main_menu ul.menu_text_units li a.arrow.active::after, .main_menu ul.menu_text_units li a.arrow:active::after{
	transform: rotate(-45deg) rotate3d(90,90,0,180deg);
	top: 22px;
}

/* CONTENT */

#content {
	z-index: 1;
}

/* FOOTER */

.light-grey {
	background: #eee;
}

footer nav {
	color: rgba(0, 0, 0, .6);
	line-height: 60px;
	height: 60px;
	margin: 20px 0;
}

footer .main_menu ul.menu_ui_units li a.facebook{
	background: url(/img/facebook-grey.svg) center center no-repeat;
	background-size: 20px 20px;
}

footer .main_menu ul.menu_ui_units li a.instagram{
	background: url(/img/instagram-grey.svg) center center no-repeat;
	background-size: 20px 20px;
}

footer .main_menu ul.menu_text_units li a:hover {
	border-bottom: 1px solid rgba(0,0,0,.4);
}

footer .main_menu ul.menu_ui_units li:nth-child(2) {
	margin-right: 0px;
}

.copyright-line {
	position: relative;
	display: block;
	margin: 10px 0 5px;
	font-size: 12px;
	font-weight: 300;
	color: #666;
	text-align: center;
}

.copyright {
	opacity: 1;
	display: inline-block;
	margin-bottom: 10px;
}

.copyright-line .ref {
	position: relative;
	display: inline-block;
}

.ref a {
	color: inherit;
}

.ref a:hover {
	text-decoration: none;
}

.ref a.logo {
	display: inline-block;
	background: url(/img/logo-bymind.svg) center left no-repeat;
	background-size: 60px;
	width: 60px;
	height: 34px;
	color: #222;
	opacity: .5;
	transition: opacity .1s ease-in-out;
	vertical-align: middle;
	margin: -3px 0 0 3px;
}

.ref:hover a.logo {
	opacity: 1;
}

	.under-logo {
		display: none;
	}

/* EXTENDS BOOTSTRAP */

.mt-100{
	margin-top: 100px;
}

.mb-100{
	margin-bottom: 100px;
}

.mt-50{
	margin-top: 50px;
}

.mb-50{
	margin-bottom: 50px;
}

.mt-20{
	margin-top: 20px;
}

.mb-20{
	margin-bottom: 20px;
}

.pt-100{
	padding-top: 100px;
}

.pb-100{
	padding-bottom: 100px;
}

.pt-50{
	padding-top: 50px;
}

.pb-50{
	padding-bottom: 50px;
}

.p-0 {
	padding-left: 0;
	padding-right: 0;
}

.pr-0 {
	padding-right: 0;
}

.pl-0 {
	padding-left: 0;
}

.pr-20 {
	padding-right: 20px;
}

.pl-20 {
	padding-left: 20px;
}

.h200 {
	height: 200px !important;
}

.h160 {
	height: 160px !important;
}

/* MEDIA QUERIES */



/* LG */

@media (min-width: 960px) {
	button.call-me {
		float: left;
	}

	button.login {
		float: none;
	}

	.head-phone {
		text-align: right;
	}
}



/* MD */

@media (min-width: 768px) and (max-width:960px){


}

@media (max-width: 959px) {

	.headline .logo-sitename {
		font-size: 14px;
		padding-left: 4px;
	}

	.head-phone{
		text-align: center;
	}

	.headline .phone-number {
		font-size: 14px;
	}

	.headline .phone-label {
		margin-top: 3px;
	}

	button.call-me, button.login, button.cart {
		margin-left: 0;
		padding: 2px 2px 2px 30px;
		height: 34px;
	}

	button.call-me, button.login {
		background-position: 8px center;
	}

	.btn-wide {
		width: 140px !important;
	}

}

/* SM */
@media (min-width: 490px) and (max-width: 767px) {

}

@media (max-width: 767px) {

	button.login {
		line-height: 11px;
		margin-right: 10px;
	}

	.btn-wide {
		width: 120px !important;
		margin-left: 10px;
	}

	.headline .logo {
		width: 40px;
		margin-left: 10px;
	}

	.headline .logo-sitename {
		font-size: 12px;
		line-height: 14px;
		margin-top: 4px;
	}

	button.cart {
		width: 120px !important;
	}

	.mb-xs-40 {
		margin-bottom: 40px !important;
	}

	.mb-xs-10 {
		margin-bottom: 10px !important;
	}

	.mt-xs-10 {
		margin-top: 10px !important;
	}

	.btn-wide, button.cart {
		width: 90px !important;
	}

	button.cart {
		background-position: 8px center !important;
	}

	.counter {
		top: 7px !important;
		left: 14px !important;
	}

	.price-counter {
		margin-left: 4px !important;
		line-height: 12px !important;
		font-size: 10px !important;
	}

}

/* ~~~~ */

@media (max-width: 670px) {

	button.call-me {
		display: none;
	}

	.col-xas-1, .col-xas-2, .col-xas-3, .col-xas-4, .col-xas-5, .col-xas-6, .col-xas-7, .col-xas-8, .col-xas-9, .col-xas-10, .col-xas-11, .col-xas-12 {
		float: left;
		padding-left: 5px;
		padding-right: 5px;
	}

	.col-xas-1 {
		width: 8.33333333% !important;
	}

	.col-xas-2 {
		width: 16.66666667% !important;
	}

	.col-xas-3 {
		width: 25% !important;
	}

	.col-xas-4 {
		width: 33.33333333% !important;
	}

	.col-xas-5 {
		width: 41.66666667% !important;
	}

	.col-xas-6 {
		width: 50% !important;
	}

	.col-xas-7 {
		width: 58.33333333% !important;
	}

	.col-xas-8 {
		width: 66.66666667% !important;
	}

	.col-xas-9 {
		width: 75% !important;
	}

	.col-xas-10 {
		width: 83.33333333% !important;
	}

	.col-xas-11 {
		width: 91.66666667% !important;
	}

	.col-xas-12 {
		width: 100% !important;
	}


}

/* XS */

@media screen and (min-width: 320px) and (max-width: 490px) {

	h1 {
		font-size: 20px !important;
		line-height: 22px !important;
	}

	button {
		padding: 0 10px 0 30px !important;
		line-height: 12px !important;
		font-size: 10px !important;
	}

	button.call-me:active, button.login:active, button.cart:active{
		margin-top: 6px !important;
		margin-bottom: 4px !important;
	}

	.head-phone {
		text-align: left;
	}

	.col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
		float: left;
		padding-left: 5px;
		padding-right: 5px;
	}

	#content {
		margin-top: -40px;
	}

	.headline .logo {
		/* margin-left: 0; */
	}

	.under-logo {
		display: block;
	}

	.col-xxs-1 {
		width: 8.33333333% !important;
	}

	.col-xxs-2 {
		width: 16.66666667% !important;
	}

	.col-xxs-3 {
		width: 25% !important;
	}

	.col-xxs-4 {
		width: 33.33333333% !important;
	}

button.col-xxs-4 {
		width: calc(33.33333333% - 10px) !important;
		margin: 5px !important;
	}

	.col-xxs-5 {
		width: 41.66666667% !important;
	}

	.col-xxs-6 {
		width: 50% !important;
	}

	.col-xxs-7 {
		width: 58.33333333% !important;
	}

	.col-xxs-8 {
		width: 66.66666667% !important;
	}

	.col-xxs-9 {
		width: 75% !important;
	}

	.col-xxs-10 {
		width: 83.33333333% !important;
	}

	.col-xxs-11 {
		width: 91.66666667% !important;
	}

	.col-xxs-12 {
		width: 100% !important;
	}

	.hidden-xxs {
		display: none;
	}

	.visible-xxs {
		display: inline-block !important;
	}

	.mb-xss-10 {
		margin-bottom: 10px !important;
	}

	.mt-xss-10 {
		margin-top: 10px !important;
	}

}
